<!-- MODAL FORMS -->

<!-- CREATE TERM MODAL -->
<nz-modal
  [nzStyle]="{ top: '20px' }"
  [(nzVisible)]="isVisibleAddTerm"
  nzTitle="Create new term"
  (nzOnCancel)="handleCancelAddTerm()"
  (nzOnOk)="handleOkAddTerm()"
  [nzOkLoading]="isCreatingTerm"
  [nzCancelLoading]="isCreatingTerm"
>
  <ng-container *nzModalContent>
    <nz-spin nzTip="Please wait..." [nzSpinning]="isCreatingTerm">
      <h2>Choose a Grade</h2>
      <nz-row>
        <nz-col nzSpan="12">
          <nz-slider
            [nzMin]="1"
            [nzMax]="12"
            [(ngModel)]="newGrade"
            (ngModelChange)="updateTempDepartment($event)"
          ></nz-slider>
        </nz-col>
        <div nz-col nzSpan="4">
          <nz-input-number
            [nzMin]="1"
            [nzMax]="12"
            [ngStyle]="{ marginLeft: '16px' }"
            [(ngModel)]="newGrade"
            (ngModelChange)="updateTempDepartment($event)"
          ></nz-input-number>
        </div>
        <input nz-input [(ngModel)]="tempDepartment" [disabled]="true" />
      </nz-row>
    </nz-spin>
  </ng-container>
</nz-modal>

<!-- CREATE SUBJECT MODAL -->
<nz-modal
  [nzStyle]="{ top: '20px' }"
  [(nzVisible)]="isVisibleAddSubject"
  nzTitle="Create new subject"
  (nzOnCancel)="handleCancelAddSubject()"
  (nzOnOk)="handleOkAddSubject()"
  [nzOkLoading]="isCreatingSubject"
  [nzCancelLoading]="isCreatingSubject"
>
  <ng-container *nzModalContent>
    <nz-spin nzTip="Please wait..." [nzSpinning]="isCreatingSubject">
      <h2>Subject Name</h2>
      <nz-row>
        <input
          nz-input
          placeholder="Enter subject name"
          [(ngModel)]="newSubjectName"
        />
      </nz-row>
    </nz-spin>
  </ng-container>
</nz-modal>

<!-- EDIT SUBJECT MODAL -->
<nz-modal
  [nzStyle]="{ top: '20px' }"
  [(nzVisible)]="isVisibleEditSubject"
  nzTitle="Edit this subject"
  (nzOnCancel)="handleCancelEditSubject()"
  (nzOnOk)="handleOkEditSubject()"
  [nzOkLoading]="isUpdatingSubject"
  [nzCancelLoading]="isUpdatingSubject"
>
  <ng-container *nzModalContent>
    <nz-spin nzTip="Please wait..." [nzSpinning]="isUpdatingSubject">
      <h2>Subject Name</h2>
      <nz-row>
        <input
          nz-input
          placeholder="Enter subject name"
          [(ngModel)]="editedSubject.subjectName"
          required
        />
      </nz-row>
    </nz-spin>
  </ng-container>
</nz-modal>

<!-- Page Title -->
<h1>Subject</h1>
<!-- Term Selection -->
<div class="term-section">
  <nz-select
    nzShowSearch
    nzAllowClear
    nzPlaceHolder="Select term of subject"
    [(ngModel)]="selectedTermId"
    (ngModelChange)="updateListOfSubject()"
    [nzLoading]="loadingTerm"
  >
    <nz-option
      *ngFor="let item of listOfTerm"
      [nzLabel]="'Grade ' + item.grade + ' - ' + department[item.department]"
      [nzValue]="item.termId"
    ></nz-option>
  </nz-select>
  <button
    nz-button
    nzType="default"
    class="btn-add-term"
    (click)="showAddTermModal()"
  >
    Create a Term
  </button>
  <button
    nz-button
    nzType="default"
    nzDanger
    (click)="showDeleteTermModal()"
    [disabled]="selectedTermId == ''"
  >
    Delete selected term
  </button>
</div>

<div class="subject-section" *ngIf="selectedTermId">
  <p>Showing {{ listOfSubject.length }} subject of this term :</p>
  <button
    nz-button
    nzType="primary"
    class="btn-add-subject"
    (click)="showAddSubjectModal()"
  >
    Add Subject
  </button>
  <nz-list nzItemLayout="horizontal" [nzLoading]="loadingSubject">
    <nz-list-item *ngFor="let item of listOfSubject" class="subject-tile">
      <div class="subjectname-container">
        <i nz-icon nzType="book" nzTheme="fill"></i>
        <a
          (click)="addSelectedSubject(item.subjectId, item.subjectName)"
          [routerLink]="['/dashboard/subject/tasks']"
          nzMatchRouter
          >{{ item.subjectName }}</a
        >
      </div>
      <div class="action-icons">
        <i
          class="i-edit"
          nz-icon
          nzType="edit"
          nzTheme="fill"
          nzTooltipTitle="Edit"
          nzTooltipColor="blue"
          nz-tooltip
          (click)="showEditSubjectModal(item.subjectId, item.subjectName)"
        ></i>
        <i
          class="i-delete"
          nz-icon
          nzType="delete"
          nzTheme="fill"
          nzTooltipTitle="Delete"
          nzTooltipColor="red"
          nz-tooltip
          (click)="showDeleteSubjectModal(item.subjectId)"
        ></i>
      </div>
    </nz-list-item>
    <nz-list-empty *ngIf="listOfSubject.length === 0"></nz-list-empty>
  </nz-list>
</div>
