.header {
  display: flex;
  align-items: center;
  h1 {
    margin-left: 10px;
    padding-top: 8px;
  }
}

.btn-group {
  display: flex;
  .btn-action {
    background-color: #001529;
    border-width: 1px;
    border-style: solid;
    border-radius: 14px;
    padding: 14px 36px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    width: 250px;
    align-items: center;
    p {
      margin-bottom: 0px;
      margin-left: 12px;
    }
    transition: background-color 0.3s ease-in-out;
    &:hover {
      border-color: transparent;
      cursor: pointer;
      color: #001529;
    }
  }
  .btn-edit {
    border-color: rgb(255, 246, 119);
    color: rgb(255, 246, 119);
    &:hover {
      background-color: rgb(255, 246, 119);
    }
  }
  .btn-complete {
    border-color: rgb(187, 255, 119);
    color: rgb(187, 255, 119);
    &:hover {
      background-color: rgb(187, 255, 119);
    }
  }
  .btn-notcomplete {
    border-color: rgb(255, 196, 119);
    color: rgb(255, 196, 119);
    &:hover {
      background-color: rgb(255, 196, 119);
    }
  }
  .btn-archive {
    border-color: rgb(190, 224, 255);
    color: rgb(190, 224, 255);
    &:hover {
      background-color: rgb(190, 224, 255);
    }
  }
  .btn-delete {
    border-color: rgb(255, 162, 162);
    color: rgb(255, 162, 162);
    &:hover {
      background-color: rgb(255, 162, 162);
    }
  }
}
